ol(class='breadcrumb')
  li 
    a(href="/#{project.name}") #{project.name}
  each part in breadcrumb 
    if part.type == 'current'
      li 
        span(class='separator') /
        | #{part.name}
    else if part.type == 'dir'
      li 
        span(class='separator') /
        a(href="/#{project.name}/tree/#{part.path}") #{part.name}