extends ../layout

block content

  // TODO: replace by breadcrumb
  p 
    a(href="#{site.baseUrl}/symbols.html") Symbol Index

  // include includes/breadcrumb.jade

  if symbol.kind == SymbolKindClass || symbol.kind == SymbolKindStruct
    h2 #{symbol.displayName ? symbol.displayName : symbol.name} Class 
  else if symbol.kind == SymbolKindNamespace
    h2 #{symbol.displayName ? symbol.displayName : symbol.name} Namespace 
  else 
    h2 #{symbol.displayName ? symbol.displayName : symbol.name}

  if parent 
    p 
      | Parent: 
      a(href="#{site.baseUrl}/symbols/#{parent.id}") #{parent.displayName ? parent.displayName : parent.name}
      | .

  if references && references.length > 0
    h3(id='references') References 
    each refsInProjectRevision in references 
      - let projectRevision = refsInProjectRevision.projectRevision;
      h4 #{projectRevision.projectName} v#{projectRevision.name}
      each refsInFile in refsInProjectRevision.references
        if projectRevision.homeDir.length > 0 && refsInFile.file.startsWith(projectRevision.homeDir)
          - let relpath = refsInFile.file.substring(projectRevision.homeDir.length + 1);
          - let filename = relpath.substring(relpath.lastIndexOf("/")+1);
          - let tag = "#L";
          p 
            | #{filename} (#{refsInFile.references.length} reference(s)): 
            each refinfo, index in refsInFile.references
              a(href="#{site.baseUrl}/#{projectRevision.projectName}/#{projectRevision.name}/#{relpath}#{tag}#{refinfo.line}") #{refinfo.line}
              = index == refsInFile.references.length - 1 ? "." : ", "

  if children && children.length > 0
    h3 All children
    table 
      tbody 
        each child in children
          tr
            td 
              a(href="#{site.baseUrl}/symbols/#{child.id}") #{child.displayName ? child.displayName : child.name}