extends layout

block content
  h1= title
  a(href="/") Home
  if homeDirEntries.length > 0
    p Tree:
    ul(class='project-files')
      each entry in homeDirEntries
        li 
          if entry.type == 'dir'
            a(href="/#{project.name}/tree/#{projectRevision.name}/#{entry.path}") #{entry.name}
          else 
            a(href="/#{project.name}/blob/#{projectRevision.name}/#{entry.path}") #{entry.name}
  if can_delete_project
    div(class='danger-zone')
      input(id='delete-button', type='button', onclick='deleteProject()', value="Delete project")
      script. 
        function deleteProject() {
          $("#delete-button").prop("disabled", true);
  
          let projectname = "#{project.name}";
          console.log(`About to delete ${projectname}`);
           	
          $.ajax({
            method: "DELETE",
            url: `/${projectname}`,
          })
            .done(function(res) {
              if (res.success) {
                window.location.replace(window.location.origin);
              }
            });
        }
  p You are viewing information about revision #{projectRevision.name} (#{projectRevision.path})