extends layout

block content
  h1= title
  a(href="/") Home
  if files.length > 0 || entries.length > 0
    p Tree:
    ul(class='project-files')
      each entry in entries
        li 
          if entry.type == 'dir'
            a(href="/#{project.name}/tree/#{entry.path}") #{entry.name}
          else 
            a(href="/#{project.name}/blob/#{entry.path}") #{entry.name}
    p All files:
    ul(class='project-files')
      each file in files
        li 
          a(href="/#{project.name}/#{file.url}") #{file.path}
  if can_delete_project
    div(class='danger-zone')
      input(id='delete-button', type='button', onclick='deleteProject()', value="Delete project")
      script. 
        function deleteProject() {
          $("#delete-button").prop("disabled", true);
  
          let projectname = "#{project.name}";
          console.log(`About to delete ${projectname}`);
           	
          $.ajax({
            method: "DELETE",
            url: `/${projectname}`,
          })
            .done(function(res) {
              if (res.success) {
                window.location.replace(window.location.origin);
              }
            });
        }
  p Project is located in #{project.path}