extends layout

block content
  h1= title
  
  include includes/breadcrumb.jade
  if dir.entries.length > 0
    ul(class='project-files')
      each entry in dir.entries
        li 
          if entry.type == 'dir'
            a(href="/#{project.name}/tree/#{projectRevision.name}/#{entry.path}") #{entry.name}
          else 
            a(href="/#{project.name}/blob/#{projectRevision.name}/#{entry.path}") #{entry.name}
  p In folder: #{dir.name} (#{dir.path})