extends layout

block content
  h1 Index of #{project.name}
  table(style="") 
    colgroup 
      col(span="1", style="min-width: 240px;")
      col(span="1")
    tbody 
      each revision in project.revisions
        tr
          td 
            a(href="#{project.name}/#{revision.name}") #{revision.name}
          td(style="display: flex; gap: 1em;")
            a(href="/download/#{project.name}/#{revision.name}") Download
            if canDelete
              a(href="#{site.baseUrl}/delete/#{project.name}/#{revision.name}") Remove
      tr 
        td(colspan="2") 
          a(href="index.html") ..
